.venv/
.gradio/
**/__pycache__/
pretrained_weights/
output/
src/datasets/preprocess/extract_features/__pycache__/audio_processer.cpython-310.pyc
src/utils/__pycache__/util.cpython-310.pyc
src/utils/__pycache__/rprint.cpython-310.pyc
src/utils/__pycache__/filter.cpython-310.pyc
src/models/schedulers/__pycache__/scheduling_ddim.cpython-310.pyc
src/models/schedulers/__pycache__/flow_matching.cpython-310.pyc
src/models/dit/__pycache__/talking_head_dit.cpython-310.pyc
src/models/dit/__pycache__/talking_head_diffusion.cpython-310.pyc
src/models/dit/__pycache__/positional_embedding.cpython-310.pyc
src/models/dit/__pycache__/posemb_layers.cpython-310.pyc
src/models/dit/__pycache__/modules.cpython-310.pyc
.gitignore
src/utils/__pycache__/util.cpython-310.pyc
src/utils/__pycache__/rprint.cpython-310.pyc
src/utils/__pycache__/filter.cpython-310.pyc
src/models/schedulers/__pycache__/scheduling_ddim.cpython-310.pyc
src/models/schedulers/__pycache__/flow_matching.cpython-310.pyc
src/models/dit/__pycache__/talking_head_dit.cpython-310.pyc
src/models/dit/__pycache__/talking_head_diffusion.cpython-310.pyc
src/models/dit/__pycache__/positional_embedding.cpython-310.pyc
src/models/dit/__pycache__/posemb_layers.cpython-310.pyc
src/models/dit/__pycache__/modules.cpython-310.pyc
src/utils/__pycache__/util.cpython-310.pyc
src/utils/__pycache__/rprint.cpython-310.pyc
src/utils/__pycache__/filter.cpython-310.pyc
src/models/schedulers/__pycache__/scheduling_ddim.cpython-310.pyc
src/models/schedulers/__pycache__/flow_matching.cpython-310.pyc
src/models/dit/__pycache__/talking_head_dit.cpython-310.pyc
src/models/dit/__pycache__/talking_head_diffusion.cpython-310.pyc
src/models/dit/__pycache__/positional_embedding.cpython-310.pyc
src/models/dit/__pycache__/posemb_layers.cpython-310.pyc
src/models/dit/__pycache__/modules.cpython-310.pyc
src/models/dit/__pycache__/embedders.cpython-310.pyc
src/models/dit/__pycache__/config.cpython-310.pyc
src/models/dit/__pycache__/blocks.cpython-310.pyc
src/models/dit/__pycache__/__init__.cpython-310.pyc
src/models/audio/__pycache__/wav2vec_modified.cpython-310.pyc
src/models/audio/__pycache__/hubert.cpython-310.pyc
src/datasets/preprocess/extract_features/face_segmentation/__pycache__/resnet.cpython-310.pyc
src/datasets/preprocess/extract_features/face_segmentation/__pycache__/bisenet.cpython-310.pyc
src/datasets/preprocess/extract_features/face_segmentation/__pycache__/__init__.cpython-310.pyc
src/datasets/preprocess/extract_features/__pycache__/motion_processer.cpython-310.pyc
src/datasets/preprocess/extract_features/__pycache__/audio_processer.cpython-310.pyc
src/utils/__pycache__/util.cpython-310.pyc
src/utils/__pycache__/rprint.cpython-310.pyc
src/utils/__pycache__/filter.cpython-310.pyc
src/models/schedulers/__pycache__/scheduling_ddim.cpython-310.pyc
src/models/schedulers/__pycache__/flow_matching.cpython-310.pyc
src/models/dit/__pycache__/talking_head_dit.cpython-310.pyc
src/models/dit/__pycache__/talking_head_diffusion.cpython-310.pyc
src/models/dit/__pycache__/positional_embedding.cpython-310.pyc
src/models/dit/__pycache__/posemb_layers.cpython-310.pyc
src/models/dit/__pycache__/modules.cpython-310.pyc
src/models/dit/__pycache__/embedders.cpython-310.pyc
src/models/dit/__pycache__/config.cpython-310.pyc
src/models/dit/__pycache__/blocks.cpython-310.pyc
src/models/dit/__pycache__/__init__.cpython-310.pyc
src/models/audio/__pycache__/
src/datasets/preprocess/extract_features/face_segmentation/__pycache__/
src/datasets/preprocess/extract_features/__pycache__
src/utils/__pycache__/
